@model EntidadesVentas.Producto.DT_Producto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DT_Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cPrecioProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cPrecioProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nCantidadProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nCantidadProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idUsuReg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idUsuReg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dFechaReg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dFechaReg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idUsuMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idUsuMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dFechaMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dFechaMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lVigente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lVigente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idProducto" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
