@model IEnumerable<EntidadesVentas.Producto.DT_Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cPrecioProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nCantidadProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idUsuReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dFechaReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idUsuMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dFechaMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lVigente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cPrecioProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nCantidadProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idUsuReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dFechaReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idUsuMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dFechaMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lVigente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idProducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
